ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFF;
    // background-color: #0B1D26;
    font-size: 18px;
}
h1,h2{
    font-family: 'Playfair Display', serif;
    margin: 0;
}
p{
    margin: 0;
}
